{% extends "base.html.twig" %}

{% block body %}
<h1 style="text-align:center;margin-top:100px;margin-bottom:50px;"> Our Company is AMAZING </h1> 
<img src="https://assets.entrepreneur.com/content/3x2/2000/20150805204041-google-company-building-corporate.jpeg" alt="macbook" class="img-fluid">
{% endblock %}