{% extends "base.html.twig" %}

{% block body %}

        <nav class="navbar fixed-top navbar-expand-lg navbar-light white scrolling-navbar">
        <div class="container">
            <a href="/" class="navbar-brand waves-effect">
                <strong class="blue-text">AMAZING SHOP</strong>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a href="/" class="nav-link waves-effect">Home</a>
                    </li>
                    <li class="nav-item">
                        <a href="/#shop" class="nav-link waves-effect">Product</a>
                    </li>
                    <li class="nav-item">
                        <a href="/about/" class="nav-link waves-effect">About Us</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link waves-effect"></a>
                    </li>
                </ul>
                <ul class="navbar-nav nav-flex icons">
                    <li class="nav-item">
                        <a href="#" class="nav-link waves-effect">
                            <i class="fa fa-shopping-cart"></i>
                            <span class="clearfix d-none d-sm-inline-block">Your Cart</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link waves-effect">
                            <i class="fab fa-facebook"></i>
                            <span class="clearfix d-none d-sm-inline-block">Sign In</span>
                        </a>
                    </li>
                    
                </ul>
            </div>
        </div>
    </nav>
    
    <h1 style="text-align:center;margin-top:100px;margin-bottom:50px;"> Our Company is AMAZING </h1> 
    <img src="https://assets.entrepreneur.com/content/3x2/2000/20150805204041-google-company-building-corporate.jpeg" alt="macbook" class="img-fluid">
    

    <footer class="page-footer text-center font-small mt-4 animated fadeIn">
        <div class="pt-4">
            <a href="#" role="button" class="btn btn-outline-white">AMAZING Shop 
                <i class="fa fa-graduatio-cap ml-2"></i>
            </a>
            <a href="#" role="button" class="btn btn-outline-white">AMAZING company 
                <i class="fa fa-graduatio-cap ml-2"></i>
            </a>
        </div>
        <hr class="my-4">
        <div class="pb-4">
            <a href="">
                <i class="fab fa-facebook mr-3"></i>
            </a>
            <a href="">
                <i class="fab fa-vk mr-3"></i>
            </a>
            <a href="">
                <i class="fab fa-google mr-3"></i>
            </a>
            <a href="">
                <i class="fab fa-twitter mr-3"></i>
            </a>
            <a href="">
                <i class="fab fa-github mr-3"></i>
            </a>
            <a href="">
                <i class="fab fa-pinterest mr-3"></i>
            </a>
            <a href="">
                <i class="fab fa-reddit mr-3"></i>
            </a>
        </div>
        <div class="footer-copyright py-2">Amazing Company</div>
    </footer>

{% endblock %}